<div class="row">
			<div class="col-md-5">
				<img src="images/place-holder.jpg">
				<h3>New Blog Post Appears Here</h3>
				<p>bla bla bla appears here. Maybe some lorem ipsum too
				lorem ipsum too lorem ipsum too</p>
				<a href="/category/blog/post-title">Read More</a>
			</div>
			<div class="col-md-5">
				<img src="images/place-holder.jpg">
				<h3>New Blog Post Appears Here</h3>
				<p>bla bla bla appears here. Maybe some lorem ipsum too
				lorem ipsum too lorem ipsum too</p>
				<a href="/category/blog/post-title">Read More</a>
			</div>
		</div>