<!DOCTYPE html>
<html>
<head>
  <title>Hello Blog</title>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/hello/styles/layout.css">
</head>
<body>
<div class="container">
<h1>LIVE BLOG</h1>
<p>
 Your Post was:::
</p>
<div class="content">

	<h3><%= blog.title %></h3>
	<p><%= blog.msg %> </p>
</div>

</body>
</html>