body{
	ont-family: 'Open Sans', sans-serif;
	font-weight: 16px;
	color: #333;
}
h1{
	font-size: 24px;
}
p{
	margin:20px 0;
}
.container{
	width: 60%;
	margin: 50px auto;
}
.sendForm{
	width: 100%;

}
.sendForm input[type=text],.sendForm textarea {
	width:94%;
}
.sendForm input[type=text]{

	padding:10px 20px;
	margin: 0 0 10px 0;
	border:1px solid #E3E3E3;
	 
	}
.sendForm textarea{
	padding:10px 20px;
	border:1px solid #E3E3E3;
}
.sendForm button{
	width:99%;
	padding:10px 20px;
	margin: 10px 0;
	color:#FFF;
	border:none;
	background: #1093D9;
}
.content{
	width:99%;
	background: #f1f1f1;
	padding:10px;
	color:#000;

}
.content h3{
	font-weight: bold;
	font-style: italic;
}
.content p{
	font-size: 13px;
}
